.root {
    -fx-base: #202020;
    -fx-background: #202020;
    -fx-control-inner-background: #303030;
    -fx-accent: #4a4a4a;
    -fx-focus-color: #202020;
    -fx-text-fill: #ffffff;
    -fx-text-background-color: #202020;
}

.text-area {
    -fx-text-fill: #ffffff;
    -fx-background-color: #303030;
}

.text-field {
    -fx-text-fill: #ffffff;
    -fx-background-color: #303030;
}

.list-view {
    -fx-background-color: #303030;
    -fx-text-fill: #ffffff;
}
.list-view .list-cell {
  -fx-text-fill: lightgreen;
}
